version: 0.1
services:
  demo-writer:
    hostname: writer
    build: ./writer 
    ports: 
      - "5000:5000"
    volumes:
      - demo:/data 
    environment:
      - DATA_PATH=/data/log.txt
  demo-reader:
    hostname: reader
    build: ./reader
    volumes:
      - demo:/data
    environment:
      - DATA_PATH=/data/log.txt
      - WRITER_ENDPOINT=http://writer:5000/
volumes:
  demo: {}
